USE [master]
GO
/****** Object:  Database [KFCDB]    Script Date: 6/7/2023 6:52:36 PM ******/
CREATE DATABASE [KFCDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KFCDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KFCDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KFCDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KFCDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KFCDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KFCDB]
GO
/****** Object:  Table [dbo].[BurgerTable]    Script Date: 6/7/2023 6:52:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BurgerTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[des] [varchar](50) NOT NULL,
	[price] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChickenTable]    Script Date: 6/7/2023 6:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChickenTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[des] [varchar](50) NOT NULL,
	[price] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuTable]    Script Date: 6/7/2023 6:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BurgerID] [int] NOT NULL,
	[ChickenID] [int] NOT NULL,
	[SandwichID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SandwichTable]    Script Date: 6/7/2023 6:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SandwichTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[des] [varchar](50) NOT NULL,
	[price] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 6/7/2023 6:52:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BurgerTable] ON 

INSERT [dbo].[BurgerTable] ([Id], [name], [des], [price]) VALUES (1, N'Chicken cheese burger', N'cheese,chicken,salad....', N'20')
SET IDENTITY_INSERT [dbo].[BurgerTable] OFF
SET IDENTITY_INSERT [dbo].[ChickenTable] ON 

INSERT [dbo].[ChickenTable] ([Id], [name], [des], [price]) VALUES (1, N'Chicken ', N'chicken salad,.....', N'19')
INSERT [dbo].[ChickenTable] ([Id], [name], [des], [price]) VALUES (2, N'chik', N'kalklklk', N'28')
SET IDENTITY_INSERT [dbo].[ChickenTable] OFF
SET IDENTITY_INSERT [dbo].[SandwichTable] ON 

INSERT [dbo].[SandwichTable] ([Id], [name], [des], [price]) VALUES (1, N'SanKFC', N'ketchup,tomato,potato,chicken....', N'10')
SET IDENTITY_INSERT [dbo].[SandwichTable] OFF
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([Id], [username], [password]) VALUES (1, N'Hadi', N'000')
INSERT [dbo].[UserTable] ([Id], [username], [password]) VALUES (2, N'Malak', N'123')
INSERT [dbo].[UserTable] ([Id], [username], [password]) VALUES (3, N'soukaina', N'123')
SET IDENTITY_INSERT [dbo].[UserTable] OFF
ALTER TABLE [dbo].[MenuTable]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([SandwichID])
REFERENCES [dbo].[SandwichTable] ([Id])
GO
ALTER TABLE [dbo].[MenuTable] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[MenuTable]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([ChickenID])
REFERENCES [dbo].[ChickenTable] ([Id])
GO
ALTER TABLE [dbo].[MenuTable] CHECK CONSTRAINT [FK3]
GO
ALTER TABLE [dbo].[MenuTable]  WITH CHECK ADD  CONSTRAINT [FK4] FOREIGN KEY([BurgerID])
REFERENCES [dbo].[BurgerTable] ([Id])
GO
ALTER TABLE [dbo].[MenuTable] CHECK CONSTRAINT [FK4]
GO
USE [master]
GO
